.pub-badges {
  margin-bottom: 5px;
}

.badge {
  background: #ddd;
  padding: 2px 6px;
  border-radius: 4px;
  margin-right: 6px;
  font-size: 0.75rem;
  display: inline-block;
}

.badge.q1 {
  background: #a4cf63;
  color: white;
  padding: 2px 6px;
  border-radius: 4px;
  margin-right: 6px;
  font-size: 0.75rem;
  display: inline-block;
}

.badge.q2 {
  background: #e8d559;
  color: white;
}

.badge.q1 {
  background: #fba353;
  color: white;
}

.badge.q1 {
  background: #dd5a4e;
  color: white;
}

.badge.NI {
  background: white;
  color: black;
}

.badge.oa {
  background: #9fc3e6;
  color: white;
}