.pub-badges {
  margin-bottom: 6px;
}

.badge {
  background: #ddd;
  padding: 2px 6px;
  border-radius: 4px;
  margin-right: 6px;
  font-size: 0.75rem;
  display: inline-block;
}

.badge.oa {
  background: #4CAF50;
  color: white;
}